.my-6
{
    margin-top: 80px;
    margin-bottom: 50px;
}
.bg-color
{
    background-color: rgba(238, 243, 243, 0.498);
}
.logo2
{
    width: 270px;
}
.icon1
{
    font-size: 20px;
    color:  rgb(207, 112, 49);
    margin: 3px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.hover-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10px;
  transition: transform 0.6s ease-in-out;
}

.image-container:hover .hover-buttons {
  transform: translate(-50%);
}


.hover-btn {
  background-color:rgb(207, 112, 49);
  border: none;
  padding: 8px 13px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  transition: all ease-in-out 0.3s;
}

.hover-btn:hover {
  background-color: black;
}
