.icon0
{
    font-size: 80px;
    color: rgb(207, 112, 49);
}
.text-color
{
    color: rgb(106, 113, 113);
}
.logo3
{
    width: 150px;
    height: 40px;
}
.back-color
{
    background-color: rgb(241, 240, 240);
}
h6{
   color: rgb(106, 113, 113);
   font-size: 19px;
   margin-top: 10px;
}
